.contactoHero{
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100vw;
    height: 90vh;
    background-image: url(../img/background4.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 2px solid #fff;
}

.contactoHeroTextos{
    @extend .galeriaHeroTextos;
}


.contacto{
    grid-column: 1/5;
    grid-row: 3/4;
    width: 100vw;
    height: auto;
    padding: 2rem;
}
.contactoUbi{
    box-shadow: 0px 0px 3rem rgba($color: $gris, $alpha: 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: $gris;
    border-radius: 2rem;
    .ubiTitulo{
        @extend .consejosSub;
        color: $blanco;
    }
    .ubiMap{
        width: 100%;
        iframe{
            width: 100%;
        }
    }
}



.formulario{
    box-shadow: 0px 0px 3rem rgba($color: $gris, $alpha: 0.2);
    display: flex;
    height: auto;
    .formularioImg{
        background-image: url(../img/formulario.svg);
        background-size: contain;
        width: 20%;
        border-radius: 2rem 0px 0px 2rem;
        .formularioRedes{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                background-color: $gris;
                width: 60px;
                height: 60px;
                transition: all 0.4s;
                &:hover{
                    box-shadow: 0px 0px 0.4rem $blanco;
                    transition: all 0.4s;
                }
                a{
                    color: $blanco;
                    font-size: $sub2Size;
                }
            }
        }
    }
}
.contactoFormulario{
    background-color: $gris;
    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    text-align: center;
    border-radius: 0px 2rem 2rem 0px;
    font-family: $font;
    textarea{
        resize: none;
        padding: 0.3rem;
        background-color: $blanco;
        transition: all 0.3s;
        border-color: $rosa;
        &:focus{
            background-color: #aaa;
            color: $blanco;
            transition: all 0.3s;
        }
    }
}

.formularioTitulo{
    @extend .consejosSub;
    color: #eee;
    font-size: $sub2Size;
}
.formularioContenido{
    input{
        border-color: $rosa;
        width: 100%;
        height: 2rem;
        padding: 0.3rem;
        background-color: $blanco;
        transition: all 0.3s;
        &:focus{
            background-color: #aaa;
            color: $blanco;
            transition: all 0.3s;
        }
    }
}
.formularioBotones{
    input{
        margin: 0.3rem;
        padding: 0.3rem;
        background-color: $rosa;
        color: $blanco;
        border: none;
        border-radius: 0.4rem;
        transition: all 0.3s;
        font-family: $font;
        border-bottom: 0.25rem solid $blanco;
        &:hover{
            transition: all 0.3s;
            background-color: $blanco;
            color:$gris2;
            border-color: $rosa;
        }
    }
}



/* /////////////////////////////////////////////////////////MEDIA QUERY///////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////////992px///////////////////////////////////////////////////////*/

@media screen and (max-width:992px) {    
    .contactoFormulario{
            margin-top: 3rem;
        }
    .contactoImg{
        display: none;
    }
    }    

    
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/

@media screen and (max-width:600px){
    .contacto{
        padding: 0.5rem;
    }
    .contactoFormulario{
        padding: 0.5rem;
    }
    .formularioBotones{
        input{
            width: 6rem;
            height: 2rem;
            border: 2px solid $gris2;
            font-size: 1rem;
        }
    }
}
