.galeriaHero{
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100vw;
    height: 90vh;
    background-image: url(../img/galeria.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 2px solid #fff;
}
.galeriaHeroTextos{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: end;
    padding-right: 5%;
    h1{
        font-size: $titleSize;
        color: $blanco;
    }
    p{
        font-size: $pSize;
        color: $rosa;
    }
}
.galeria{
    padding: 0px;
    grid-column: 1/5;
    grid-row: 3/4;
    h1{
        border-style: 0.2rem;
        padding: 0.3rem;
        margin: 2rem;
        font-size:$subSize;
        text-align: center;
        color: $rosa;
        font-style: italic;
    }
}
.galeriaFotos{  
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-auto-rows: minmax(min(250px, 25rem),1fr);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 17rem),1fr));
    gap: 0.4rem;
    padding: 1%;
}


.imagenes{
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 400px;
    height: 100%;
    border-radius: 0.2rem;
}

/* /////////////////////////////////////////////////////////Media Query///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/

@media screen and (max-width:600px){
    .galeriaHero{
        height: 80vh;
    }
}

/* /////////////////////////////////////////////////////////562px///////////////////////////////////////////////////////*/
@media screen and (max-width:562px) {
    .galeriaFotos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
