.nosotrosHero{ 
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100vw;
    height: 90vh;
    background-image: url(../img/nosotros-background.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
}
.nosotrosHeroTextos{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-right: 5%;
    text-align: end;
    h1{
        font-size: $titleSize;
        color: $blanco;
    }
    p{
        font-size: $pSize;
        color: $rosa;
    }
}

.nosotros{
    grid-column: 1/5;
    grid-row: 3/4;
    width: 100vw;
    height: auto;
}

.nosotrosInfo{
    padding: 2rem;
    div:first-child{
        display: flex;
        justify-content: center;
        img{
            transform: rotateY(180deg);
            margin-bottom: 1rem;
            width: 400px;
            min-width: 300px;
        }
    }
}

.infoTextos{
    display: flex;
    justify-content: center;
    background-color: $rosa2;
    border-radius: 1rem;
    h2{
        @extend .consejosSub;
        color: $gris;
    }
    p{
        @include textos($pSize,center,cursive);
        color: $blanco;
    }
}

.nosotrosUbi{
    margin-top: 1rem;
    padding: 2rem;
}
.ubiContenido{
    background-color: $rosa2;
    border-radius: 1rem;
    iframe{
        margin-top: 1rem;
        width: 100%;
    }
    h2{
        @extend .consejosSub;
        color: $gris;
    }
}
.ubiImg {
    background-image: url(../img/fondo-img.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    img{
        width: 400px;
        min-width: 300px;
    }
}

/* /////////////////////////////////////////////////////////Media Query///////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////////992px///////////////////////////////////////////////////////*/

@media screen and (max-width:992px){
    .ubiImg{
        img{
            display: none;
        }
    }
}
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/

@media screen and (max-width:600px){
    .nosotrosHero{
        height: 80vh;
    }
}


/* /////////////////////////////////////////////////////////420px///////////////////////////////////////////////////////*/
@media screen and (max-width:420px) {
    .ubiContenido {
        iframe{
            height: 300px;
        }
    }
}