.serviciosHero{
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100vw;
    height: 90vh;
    background-image: url(../img/background3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
}
.serviciosHeroTextos{
    @extend .galeriaHeroTextos;
    p{
        width: 60%;
        float: right;
    }
    
}
.serviciosPag{
    padding-top: 5%;
    grid-column: 1/5;
    grid-row: 3/4;
    width: 100vw;
    height: auto;
}
.serviciosImg{
    width: 350px;
    height: 350px;
    border-radius: 0.3rem;
    text-align: center;
    h2{  
        @extend .consejosSub;
        max-height: 80px;
        margin-bottom: 1rem;
    }
    div{
        background-image: url(../img/fondo-img2.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 300px;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        img{
            width: 100%;
            min-width: 200px;
        }
    }
    
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 350px;
    margin: 2rem;
    perspective: 1000px;
    border-radius: 1rem;
    &:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
}


.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 1rem;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}
.cardImg{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.flip-card-front {
    color: $negro;
}


.flip-card-back {
    background-color: $rosa2;
    color: $blanco;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1{
        font-size: $subSize;
        color: $gris;
        font-style: italic;
    }
}

/* /////////////////////////////////////////////////////////MEDIA QUERY///////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////////960px///////////////////////////////////////////////////////*/

@media screen and (max-width:960px){
        .serviciosHeroTextos{
            width: 50%;
        }
    }
    /* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/

@media screen and (max-width:600px){

    .serviciosHero{
        height: 80vh;
    }
    .serviciosHeroTextos{
        width: 70%;
    }
}
/* /////////////////////////////////////////////////////////370px///////////////////////////////////////////////////////*/

@media screen and (max-width:370px) {
        .flip-card{
            width: 300px;
            height: 300px;
        }
    }