.serviciosHero{
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100vw;
    height: 90vh;
    background-image: url(../img/background3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 2px solid #fff;
}
.serviciosHeroTextos{
    @extend .galeriaHeroTextos;
    p{
        width: 60%;
        float: right;
    }
    
}
.serviciosPag{
    grid-column: 1/5;
    grid-row: 3/4;
    width: 100vw;
    height: auto;
}
.serviciosImg{
    background-color: $blanco;
    width: 350px;
    height: 350px;
    margin: 2rem;
    padding: 0.4rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2{  
        @extend .consejosSub;
        color: $gris;
    }
    div{
        background-image: url(../img/fondo-img2.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 300px;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        img{
            width: 100%;
            min-width: 200px;
        }
    }
    
}

.flip-card {
    aspect-ratio: 1/1;
    background-color: $blanco;
    padding: 0.4rem;
    max-width: 350px;
    max-height: 350px;
    margin: 2rem;
    perspective: 1000px;
    border-radius: 1rem;
    animation-delay: initial;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-name: card;
    &:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
}

@keyframes card {
    0%{
        box-shadow: 0px 0px 0.3rem #aaa;
    }
    25%{
        box-shadow: 0px 0px 0.5rem #aaa;
    }
    50%{
        box-shadow: 0px 0px 0.8rem #aaa;
    }
    75%{
        box-shadow: 0px 0px 0.5rem #aaa;
    }
    100%{
        box-shadow: 0px 0px 0.3rem #aaa;
    }
}


.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 1rem;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}
.cardImg{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.flip-card-front {
    color: $negro;
}


.flip-card-back {
    background-color: $gris;
    padding: 0.1rem;
    color: $blanco;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
        font-size: $subSize;
        color: $rosa;
        font-style: italic;
    }
    a{
        width: 30%;
        input{
            padding: 0.3rem;
            background-color: $gris2;
            color: $blanco;
            border: none;
            border-radius: 0.3rem;
            transition: all 0.3s;
            font-family: $font;
            &:hover{
                transition: all 0.3s;
                background-color: $blanco;
                color:$gris2;
            }
        }
    }
    
}

/* /////////////////////////////////////////////////////////MEDIA QUERY///////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////////960px///////////////////////////////////////////////////////*/

@media screen and (max-width:960px){
        .serviciosHeroTextos{
            width: 50%;
        }
    }

    /* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/

@media screen and (max-width:600px){

    .serviciosHero{
        height: 80vh;
    }
    .serviciosHeroTextos{
        width: 70%;
    }
}