@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;1,700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

/* /////////////////////////////////////////////////////////VARIABLES///////////////////////////////////////////////////////*/
/* Colores */
/* Medidas */
/* fuentes */
/* mixin */
/* /////////////////////////////////////////////////////////CONTENEDORES///////////////////////////////////////////////////////*/
html, body {
  max-width: 100%;
  background-image: url(../img/fondo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: local;
  overflow-x: hidden;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
}

.containerAlt {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
}

/* /////////////////////////////////////////////////////////HEADERS///////////////////////////////////////////////////////*/
.navbar {
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: #D7A2AF;
  border-bottom: 1px solid #eee;
}

.nav-link {
  transition: all 0.3s;
}
.nav-link:hover {
  background-color: #e7c5cd;
  border-radius: 0.6rem;
  transition: all 0.3s;
}

.headerLogo {
  width: 4rem;
  min-width: 50px;
  height: 4rem;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: 0px 0px 2rems rgba(51, 51, 51, 0.1);
}

/* /////////////////////////////////////////////////////////HEADER///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////INDEX///////////////////////////////////////////////////////*/
.hero {
  grid-column: 1/5;
  grid-row: 2/3;
  width: 100vw;
  height: 100vh;
  min-height: 50vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heroContenido {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(43, 33, 33, 0.4);
}

.heroTextos {
  width: 80%;
  min-width: 60vw;
  padding: 0px 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heroTitulo {
  color: #eee;
  width: 100%;
  font-size: max(2rem, 5vw);
  text-align: left;
}

.heroTexto {
  text-align: left;
  font-size: max(1.2rem, 2vw);
  margin-top: 0.6rem;
  color: #D7A2AF;
  width: 100%;
}

.heroBoton {
  margin-left: 5%;
}
.heroBoton a {
  color: #eee;
  text-decoration: none;
  font-size: max(1rem, 1.6vw);
  padding: 0.3em;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}
.heroBoton a:hover {
  color: #eee;
  background-color: #111;
  background-color: #111;
  transition: all 0.3s;
}

.heroFlecha {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  color: #eee;
  animation-name: flechabajar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heroFlecha i {
  font-size: 2rem;
}

@keyframes flechabajar {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.servicios {
  grid-column: 1/5;
  grid-row: 3/4;
  background-color: rgba(51, 51, 51, 0.1);
  padding-top: 3rem;
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.serviciosCard {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 200px;
  height: 20rem;
  min-height: 200px;
}

.serviciosCardImg {
  width: 30%;
  height: auto;
  min-width: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 1rem rgba(17, 17, 17, 0.2);
  transition: all 0.5s;
}
.serviciosCardImg:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.img1 {
  border: 0.5rem solid rgba(250, 191, 183, 0.3411764706);
}

.img2 {
  border: 0.5rem solid rgba(87, 66, 63, 0.337254902);
}

.img3 {
  border: 0.5rem solid rgba(185, 206, 248, 0.3882352941);
}

.img4 {
  border: 0.5rem solid rgba(191, 166, 162, 0.4666666667);
}

.img5 {
  border: 0.5rem solid rgba(130, 151, 192, 0.3098039216);
}

.serviciosCardSub {
  font-size: max(1.4rem, 3vw);
  text-align: center;
  font-family: uppercase;
  color: #333;
  border-top: 4px solid;
  border-radius: 0.4rem;
  margin-top: 0.3rem;
}

.consejos {
  grid-column: 1/5;
  grid-row: 4/5;
  width: 100vw;
  height: auto;
  margin: 0px;
  padding: 1rem;
}

.consejosContenido {
  text-align: center;
  border-radius: 0.5rem;
}

.consejosSub, .formularioTitulo, .contactoTitulo, .ubiContenido h2, .infoTextos h2, .serviciosImg h2 {
  text-align: center;
  width: 100%;
  color: #e7c5cd;
  font-style: italic;
  font-size: max(1.4rem, 3vw);
  max-height: 50px;
  border-radius: 0.5rem;
  padding: 4px;
}

.consejosImg, .contactoImg, .ubiImg img, .nosotrosInfo img, .serviciosImg img {
  background-color: #e7c5cd;
  width: 16rem;
  min-width: 250px;
  height: 18rem;
  min-height: 250px;
  border-radius: 50%/65% 65% 40% 40%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.texto-pink {
  background-color: pink;
  font-size: 16px;
  text-align: center;
}

.texto-yellow {
  background-color: yellow;
  font-size: 17px;
  text-align: center;
}

.texto-brown {
  background-color: brown;
  font-size: 18px;
  text-align: center;
}

.texto-grey {
  background-color: grey;
  font-size: 19px;
  text-align: center;
}

.texto-orange {
  background-color: orange;
  font-size: 20px;
  text-align: center;
}

.texto-skyblue {
  background-color: skyblue;
  font-size: 21px;
  text-align: center;
}

.texto-green {
  background-color: green;
  font-size: 22px;
  text-align: center;
}

/* /////////////////////////////////////////////////////////Media Query///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/
@media screen and (max-width: 600px) {
  .hero {
    height: 80vh;
  }

  .heroFlecha {
    display: none;
  }

  .heroTextos {
    width: 100%;
  }
}
/* /////////////////////////////////////////////////////////SERVICIOS///////////////////////////////////////////////////////*/
.serviciosHero {
  grid-column: 1/5;
  grid-row: 2/3;
  width: 100vw;
  height: 90vh;
  background-image: url(../img/background3.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
}

.serviciosHeroTextos p {
  width: 60%;
  float: right;
}

.serviciosPag {
  padding-top: 5%;
  grid-column: 1/5;
  grid-row: 3/4;
  width: 100vw;
  height: auto;
}

.serviciosImg {
  width: 350px;
  height: 350px;
  border-radius: 0.3rem;
  text-align: center;
}
.serviciosImg h2 {
  max-height: 80px;
}
.serviciosImg img {
  min-width: 200px;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 350px;
  margin: 2rem;
  perspective: 1000px;
  border-radius: 1rem;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 1rem;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.cardImg {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.flip-card-front {
  color: #111;
}

.flip-card-back {
  background-color: #e7c5cd;
  color: #eee;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* /////////////////////////////////////////////////////////MEDIA QUERY///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////960px///////////////////////////////////////////////////////*/
@media screen and (max-width: 960px) {
  .serviciosHeroTextos {
    width: 50%;
  }
}
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/
@media screen and (max-width: 600px) {
  .serviciosHero {
    height: 80vh;
  }

  .serviciosHeroTextos {
    width: 70%;
  }
}
/* /////////////////////////////////////////////////////////370px///////////////////////////////////////////////////////*/
@media screen and (max-width: 370px) {
  .flip-card {
    width: 250px;
    height: 250px;
  }
}
/* /////////////////////////////////////////////////////////GALERIA///////////////////////////////////////////////////////*/
.galeriaHero {
  grid-column: 1/5;
  grid-row: 2/3;
  width: 100vw;
  height: 90vh;
  background-image: url(../img/galeria-background.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
}

.galeriaHeroTextos, .contactoHeroTextos, .serviciosHeroTextos {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: end;
  padding-right: 5%;
}
.galeriaHeroTextos h1, .contactoHeroTextos h1, .serviciosHeroTextos h1 {
  font-size: max(2rem, 5vw);
  color: #eee;
}
.galeriaHeroTextos p, .contactoHeroTextos p, .serviciosHeroTextos p {
  font-size: max(1.2rem, 2vw);
  color: #D7A2AF;
}

.galeria {
  padding: 5%;
  grid-column: 1/5;
  grid-row: 3/4;
}
.galeria h1 {
  font-size: max(1.4rem, 3vw);
  text-align: center;
  color: #e7c5cd;
  font-style: italic;
}

.galeriaFotos {
  display: grid;
  grid-auto-rows: minmax(min(250px, 25rem), 1fr);
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
}

.imagenes {
  padding: 2rem;
  border-radius: 3rem;
  width: 100%;
  height: 100%;
}

/* /////////////////////////////////////////////////////////Media Query///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/
@media screen and (max-width: 600px) {
  .galeriaHero {
    height: 80vh;
  }
}
/* /////////////////////////////////////////////////////////NOSOTROS///////////////////////////////////////////////////////*/
.nosotrosHero {
  grid-column: 1/5;
  grid-row: 2/3;
  width: 100vw;
  height: 90vh;
  background-image: url(../img/nosotros-background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
}

.nosotrosHeroTextos {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding-right: 5%;
  text-align: end;
}
.nosotrosHeroTextos h1 {
  font-size: max(2rem, 5vw);
  color: #eee;
}
.nosotrosHeroTextos p {
  font-size: max(1.2rem, 2vw);
  color: #D7A2AF;
}

.nosotros {
  grid-column: 1/5;
  grid-row: 3/4;
  width: 100vw;
  height: auto;
}

.nosotrosInfo {
  padding: 2rem;
}
.infoTextos {
  display: flex;
  justify-content: center;
  background-color: rgba(231, 197, 205, 0.8);
  border-radius: 1rem;
}
.infoTextos h2 {
  color: #eee;
}
.infoTextos p {
  font-size: max(1.2rem, 2vw);
  text-align: center;
  font-family: cursive;
  color: #eee;
}

.nosotrosUbi {
  margin-top: 1rem;
  padding: 2rem;
}

.ubiContenido {
  background-color: rgba(231, 197, 205, 0.8);
  border-radius: 1rem;
}
.ubiContenido iframe {
  margin-top: 1rem;
  width: 100%;
}
.ubiContenido h2 {
  color: #eee;
}

/* /////////////////////////////////////////////////////////Media Query///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/
@media screen and (max-width: 600px) {
  .nosotrosHero {
    height: 80vh;
  }
}
/* /////////////////////////////////////////////////////////420px///////////////////////////////////////////////////////*/
@media screen and (max-width: 420px) {
  .ubiContenido iframe {
    height: 400px;
  }
}
/* /////////////////////////////////////////////////////////CONTACTO///////////////////////////////////////////////////////*/
.contactoHero {
  grid-column: 1/5;
  grid-row: 2/3;
  width: 100vw;
  height: 90vh;
  background-image: url(../img/background4.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
}

.contacto {
  grid-column: 1/5;
  grid-row: 3/4;
  width: 100vw;
  height: auto;
  padding: 2rem;
  margin: 0%;
}

.contactoContenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.contactoImg {
  width: 350px;
  height: 350px;
  margin-bottom: 1rem;
}

.contactoFormulario {
  width: 100%;
  padding: 2rem;
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  text-align: center;
  background-color: #e7c5cd;
  border-radius: 2rem;
  font-family: Verdana;
}
.contactoFormulario textarea {
  resize: none;
  padding: 0.3rem;
  background-color: #eee;
  transition: all 0.3s;
  border-color: #D7A2AF;
}
.contactoFormulario textarea:focus {
  background-color: #aaa;
  color: #eee;
  transition: all 0.3s;
}

.formularioTitulo {
  color: #eee;
}

.formularioContenido input {
  border-color: #D7A2AF;
  width: 100%;
  height: 2rem;
  padding: 0.3rem;
  background-color: #eee;
  transition: all 0.3s;
}
.formularioContenido input:focus {
  background-color: #aaa;
  color: #eee;
  transition: all 0.3s;
}

.formularioBotones input {
  width: 6rem;
  height: 2.6rem;
  background-color: #eee;
  color: #D7A2AF;
  border-radius: 0.6rem;
  font-size: 1rem;
  transition: all 0.3s;
}
.formularioBotones input:hover {
  color: #eee;
  background-color: #333;
  transition: all 0.3s;
}

/* /////////////////////////////////////////////////////////MEDIA QUERY///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////992px///////////////////////////////////////////////////////*/
@media screen and (max-width: 992px) {
  .contactoFormulario {
    margin-top: 3rem;
  }
}
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/
@media screen and (max-width: 600px) {
  .contactoHeroTextos {
    width: 70%;
  }

  .contactoFormulario {
    padding: 0.3rem;
  }

  .formularioBotones input {
    width: 6rem;
    height: 2rem;
    border: 2px solid #777;
    font-size: 1rem;
  }
}
/* /////////////////////////////////////////////////////////420px///////////////////////////////////////////////////////*/
@media screen and (max-width: 420px) {
  .formularioContenido input {
    width: 90%;
  }

  #comentarios {
    width: 90%;
    margin: 0% auto;
  }
}
/* /////////////////////////////////////////////////////////FOOTERS///////////////////////////////////////////////////////*/
.pie {
  font-size: 1.4rem;
  text-align: center;
  font-family: Verdana;
  grid-column: 1/5;
  grid-row: 5/6;
  background-image: url(../img/footer.svg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  color: #eee;
  text-align: center;
  width: 100vw;
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: end;
  padding-bottom: 2%;
}
.pie p {
  font-size: 1.4rem;
  text-align: center;
  font-family: Verdana;
}

.pieAlt {
  font-size: 1.4rem;
  text-align: center;
  font-family: Verdana;
  grid-column: 1/5;
  grid-row: 4/5;
  background-image: url(../img/footer.svg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  color: #eee;
  width: 100vw;
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: end;
  padding-bottom: 2%;
}
.pieAlt p {
  font-size: 1.4rem;
  text-align: center;
  font-family: Verdana;
}

.pieRedes {
  width: 100%;
}
.pieRedes a {
  color: #eee;
  font-size: 2.4em;
  transition: all 0.2s;
}
.pieRedes a:hover {
  color: #777;
  font-size: 2.5em;
  transition: all 0.2s;
}

.pieWhatsapp {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 3rem;
  height: 3rem;
}
.pieWhatsapp img {
  width: 100%;
}

/* /////////////////////////////////////////////////////////MEDIA QUERY///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////1294px///////////////////////////////////////////////////////*/
@media screen and (max-width: 1264px) {
  /* /////////////////////////////////////////////////////////FOOTERS///////////////////////////////////////////////////////*/
  .pie {
    font-size: 1rem;
  }

  .pieAlt {
    font-size: 1rem;
  }
}
/* /////////////////////////////////////////////////////////992px///////////////////////////////////////////////////////*/
@media screen and (max-width: 992px) {
  .headerLogo {
    margin-left: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
