@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;1,700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

/* /////////////////////////////////////////////////////////VARIABLES///////////////////////////////////////////////////////*/
/* Colores */
/* Medidas */
/* fuentes */
/* mixin */
/* /////////////////////////////////////////////////////////CONTENEDORES///////////////////////////////////////////////////////*/
body {
  overflow-x: hidden;
}

.indexContainer {
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
}

.containerAlt {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
}

/* /////////////////////////////////////////////////////////HEADERS///////////////////////////////////////////////////////*/
.navbar {
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: #D7A2AF;
  border-bottom: 1px solid #eee;
}

.nav-link {
  transition: all 0.3s;
}
.nav-link:hover {
  background-color: #e7c5cd;
  border-radius: 0.6rem;
  transition: all 0.3s;
}

.headerLogo {
  width: 4rem;
  min-width: 50px;
  height: 4rem;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: 0px 0px 2rems rgba(51, 51, 51, 0.1);
}

/* /////////////////////////////////////////////////////////HEADER///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////INDEX///////////////////////////////////////////////////////*/
.hero {
  grid-column: 1/5;
  grid-row: 2/3;
  width: 100vw;
  height: 100vh;
  min-height: 50vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 2px solid #fff;
}

.heroContenido {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(43, 33, 33, 0.4);
}

.heroTextos {
  width: 80%;
  min-width: 60vw;
  padding: 0px 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heroTitulo {
  color: #eee;
  width: 100%;
  font-size: max(2.3rem, 5vw);
  text-align: left;
}

.heroTexto {
  text-align: left;
  font-size: max(1.2rem, 2vw);
  margin-top: 0.6rem;
  color: #D7A2AF;
  width: 100%;
}

.heroBoton {
  margin-left: 5%;
}
.heroBoton a {
  color: #eee;
  text-decoration: none;
  font-size: max(1rem, 1.6vw);
  padding: 0.3em;
  background-color: #333;
  border: 0.13rem solid #eee;
  transition: all 0.3s;
}
.heroBoton a:hover {
  color: #eee;
  background-color: #D7A2AF;
  border-color: #D7A2AF;
  transition: all 0.3s;
}

.heroFlecha {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  animation-name: flechabajar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heroFlecha div {
  background-color: #D7A2AF;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border-bottom: 0.3rem solid #eee;
}
.heroFlecha div a {
  color: #eee;
}
.heroFlecha div a i {
  font-size: 2rem;
}

@keyframes flechabajar {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.servicios {
  grid-column: 1/5;
  grid-row: 3/4;
  margin: 0px;
  background-color: rgba(51, 51, 51, 0.1);
  padding-top: 3rem;
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.serviciosCard {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 250px;
  min-height: 200px;
}

.serviciosCardImg {
  width: 30%;
  height: auto;
  min-width: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 1rem rgba(17, 17, 17, 0.2);
  transition: all 0.5s;
}
.serviciosCardImg:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.img1 {
  border: 0.5rem solid rgba(250, 191, 183, 0.3411764706);
}

.img2 {
  border: 0.5rem solid rgba(87, 66, 63, 0.337254902);
}

.img3 {
  border: 0.5rem solid rgba(185, 206, 248, 0.3882352941);
}

.img4 {
  border: 0.5rem solid rgba(191, 166, 162, 0.4666666667);
}

.img5 {
  border: 0.5rem solid rgba(130, 151, 192, 0.3098039216);
}

.serviciosCardSub {
  font-size: max(1.2rem, 2vw);
  text-align: center;
  font-family: uppercase;
  color: #111;
  border-radius: 0.4rem;
  margin-top: 0.3rem;
}

.indexRedes {
  grid-column: 1/5;
  grid-row: 4/5;
  width: 100vw;
  height: auto;
  min-height: 200px;
  background-image: url(../img/indexRedes.jpg);
  background-size: cover;
  background-position: center;
}
.indexRedes .indexRedesColor {
  background-color: rgba(51, 51, 51, 0.8);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 200px;
}
.indexRedes .indexRedesColor .indexRedesTitulo {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.indexRedes .indexRedesColor .indexRedesTitulo h3 {
  color: #eee;
  text-align: center;
  font-size: max(1.8rem, 3vw);
}
.indexRedes .indexRedesColor .redesSociales {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.indexRedes .indexRedesColor .redesSociales div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #eee;
  width: 70px;
  height: 70px;
  transition: all 0.4s;
}
.indexRedes .indexRedesColor .redesSociales div:hover {
  box-shadow: 0px 0px 0.4rem #eee;
  transition: all 0.4s;
}
.indexRedes .indexRedesColor .redesSociales div a {
  color: #D7A2AF;
  font-size: max(1.8rem, 3vw);
}

.consejos {
  grid-column: 1/5;
  grid-row: 5/6;
  width: 100vw;
  height: auto;
  margin: 0px;
  padding: 1rem;
}

.consejosContenido {
  text-align: center;
  border-radius: 0.5rem;
}

.consejosSub, .formularioTitulo, .contactoUbi .ubiTitulo, .nosotrosUbi .ubiContenido h2, .nosotrosInfo .infoTextos h2, .serviciosImg h2 {
  text-align: center;
  width: 100%;
  color: #333;
  font-style: italic;
  font-size: max(1.8rem, 3vw);
  max-height: 50px;
  border-radius: 0.5rem;
  padding: 4px;
}

.consejosImg {
  width: 100vw;
  background-image: url(../img/fondo-img.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.consejosImg img {
  width: 16rem;
  min-width: 250px;
  height: 18rem;
  min-height: 250px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.accordion {
  background-color: #e7c5cd;
  border-radius: 0.4rem;
  padding: 1rem;
}
.accordion .acordionTittle {
  font-size: max(1rem, 1.4vw);
  color: #333;
}
.accordion .acordionTexto {
  color: #D7A2AF;
  font-size: max(1rem, 1.4vw);
}

/* /////////////////////////////////////////////////////////Media Query///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////768px///////////////////////////////////////////////////////*/
@media screen and (max-width: 768px) {
  .indexRedes {
    height: 50vh;
  }
  .indexRedes .indexRedesTitulo {
    width: 100%;
  }
  .indexRedes .redesSociales {
    width: 100%;
  }
}
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/
@media screen and (max-width: 600px) {
  .hero {
    height: 80vh;
  }

  .heroFlecha {
    display: none;
  }

  .heroTextos {
    width: 100%;
  }
}
/* /////////////////////////////////////////////////////////SERVICIOS///////////////////////////////////////////////////////*/
.serviciosHero {
  grid-column: 1/5;
  grid-row: 2/3;
  width: 100vw;
  height: 90vh;
  background-image: url(../img/background3.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 2px solid #fff;
}

.serviciosHeroTextos p {
  width: 60%;
  float: right;
}

.serviciosPag {
  grid-column: 1/5;
  grid-row: 3/4;
  width: 100vw;
  height: auto;
}

.serviciosImg {
  background-color: #eee;
  width: 350px;
  height: 350px;
  margin: 2rem;
  padding: 0.4rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.serviciosImg h2 {
  color: #333;
}
.serviciosImg div {
  background-image: url(../img/fondo-img2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
.serviciosImg div img {
  width: 100%;
  min-width: 200px;
}

.flip-card {
  aspect-ratio: 1/1;
  background-color: #eee;
  padding: 0.4rem;
  max-width: 350px;
  max-height: 350px;
  margin: 2rem;
  perspective: 1000px;
  border-radius: 1rem;
  animation-delay: initial;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-name: card;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

@keyframes card {
  0% {
    box-shadow: 0px 0px 0.3rem #aaa;
  }
  25% {
    box-shadow: 0px 0px 0.5rem #aaa;
  }
  50% {
    box-shadow: 0px 0px 0.8rem #aaa;
  }
  75% {
    box-shadow: 0px 0px 0.5rem #aaa;
  }
  100% {
    box-shadow: 0px 0px 0.3rem #aaa;
  }
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 1rem;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.cardImg {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.flip-card-front {
  color: #111;
}

.flip-card-back {
  background-color: #333;
  padding: 0.1rem;
  color: #eee;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flip-card-back h1 {
  font-size: max(1.8rem, 3vw);
  color: #D7A2AF;
  font-style: italic;
}
.flip-card-back a {
  width: 30%;
}
.flip-card-back a input {
  padding: 0.3rem;
  background-color: #D7A2AF;
  color: #eee;
  border: none;
  border-radius: 0.4rem;
  transition: all 0.3s;
  font-family: Verdana;
  border-bottom: 0.25rem solid #eee;
}
.flip-card-back a input:hover {
  transition: all 0.3s;
  background-color: #eee;
  color: #777;
  border-color: #D7A2AF;
}

/* /////////////////////////////////////////////////////////MEDIA QUERY///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////960px///////////////////////////////////////////////////////*/
@media screen and (max-width: 960px) {
  .serviciosHeroTextos {
    width: 50%;
  }
}
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/
@media screen and (max-width: 600px) {
  .serviciosHero {
    height: 80vh;
  }

  .serviciosHeroTextos {
    width: 70%;
  }
}
/* /////////////////////////////////////////////////////////GALERIA///////////////////////////////////////////////////////*/
.galeriaHero {
  grid-column: 1/5;
  grid-row: 2/3;
  width: 100vw;
  height: 90vh;
  background-image: url(../img/galeria.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 2px solid #fff;
}

.galeriaHeroTextos, .contactoHeroTextos, .serviciosHeroTextos {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: end;
  padding-right: 5%;
}
.galeriaHeroTextos h1, .contactoHeroTextos h1, .serviciosHeroTextos h1 {
  font-size: max(2.3rem, 5vw);
  color: #eee;
}
.galeriaHeroTextos p, .contactoHeroTextos p, .serviciosHeroTextos p {
  font-size: max(1.2rem, 2vw);
  color: #D7A2AF;
}

.galeria {
  padding: 0px;
  grid-column: 1/5;
  grid-row: 3/4;
}
.galeria h1 {
  border-style: 0.2rem;
  padding: 0.3rem;
  margin: 2rem;
  font-size: max(1.8rem, 3vw);
  text-align: center;
  color: #D7A2AF;
  font-style: italic;
}

.galeriaFotos {
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  grid-auto-rows: minmax(min(250px, 25rem), 1fr);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 17rem), 1fr));
  gap: 0.4rem;
  padding: 1%;
}

.imagenes {
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-radius: 0.2rem;
}

/* /////////////////////////////////////////////////////////Media Query///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/
@media screen and (max-width: 600px) {
  .galeriaHero {
    height: 80vh;
  }
}
/* /////////////////////////////////////////////////////////562px///////////////////////////////////////////////////////*/
@media screen and (max-width: 562px) {
  .galeriaFotos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* /////////////////////////////////////////////////////////NOSOTROS///////////////////////////////////////////////////////*/
.nosotrosHero {
  grid-column: 1/5;
  grid-row: 2/3;
  width: 100vw;
  height: 90vh;
  background-image: url(../img/nosotros-background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 2px solid #fff;
}

.nosotrosHeroTextos {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding-right: 5%;
  text-align: end;
}
.nosotrosHeroTextos h1 {
  font-size: max(2.3rem, 5vw);
  color: #eee;
}
.nosotrosHeroTextos p {
  font-size: max(1.2rem, 2vw);
  color: #D7A2AF;
}

.nosotros {
  grid-column: 1/5;
  grid-row: 3/4;
  width: 100vw;
  height: auto;
}
.nosotros .nosotrosCont {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.nosotrosInfo {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 0.5rem;
}
.nosotrosInfo img {
  transform: rotateY(180deg);
  margin-bottom: 1rem;
  width: auto;
  max-width: 400px;
}
.nosotrosInfo .infoTextos {
  display: flex;
  justify-content: center;
}
.nosotrosInfo .infoTextos h2 {
  color: #D7A2AF;
}
.nosotrosInfo .infoTextos p {
  font-size: max(1.2rem, 2vw);
  text-align: center;
  font-family: capitalize;
  color: #eee;
}

.nosotrosUbi {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
}
.nosotrosUbi .ubiContenido {
  background-color: #D7A2AF;
  border-radius: 0.5rem;
}
.nosotrosUbi .ubiContenido iframe {
  margin-top: 1rem;
  width: 100%;
}
.nosotrosUbi .ubiImg {
  background-image: url(../img/fondo-img.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.nosotrosUbi .ubiImg img {
  width: 400px;
  min-width: 300px;
}

/* /////////////////////////////////////////////////////////Media Query///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////992px///////////////////////////////////////////////////////*/
@media screen and (max-width: 992px) {
  .ubiImg img {
    display: none;
  }
}
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/
@media screen and (max-width: 600px) {
  .nosotrosHero {
    height: 80vh;
  }

  .nosotros .nosotrosCont {
    padding: 1rem;
  }

  .nosotrosInfo {
    padding: 0.4rem;
  }

  .nosotrosUbi {
    padding: 0.4rem;
  }
}
/* /////////////////////////////////////////////////////////420px///////////////////////////////////////////////////////*/
@media screen and (max-width: 420px) {
  .ubiContenido iframe {
    height: 300px;
  }
}
/* /////////////////////////////////////////////////////////CONTACTO///////////////////////////////////////////////////////*/
.contactoHero {
  grid-column: 1/5;
  grid-row: 2/3;
  width: 100vw;
  height: 90vh;
  background-image: url(../img/background4.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 2px solid #fff;
}

.contacto {
  grid-column: 1/5;
  grid-row: 3/4;
  width: 100vw;
  height: auto;
  padding: 2rem;
}

.contactoUbi {
  box-shadow: 0px 0px 3rem rgba(51, 51, 51, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #333;
  border-radius: 2rem;
}
.contactoUbi .ubiTitulo {
  color: #eee;
}
.contactoUbi .ubiMap {
  width: 100%;
}
.contactoUbi .ubiMap iframe {
  width: 100%;
}

.formulario {
  box-shadow: 0px 0px 3rem rgba(51, 51, 51, 0.2);
  display: flex;
  height: auto;
}
.formulario .formularioImg {
  background-image: url(../img/formulario.svg);
  background-size: contain;
  width: 20%;
  border-radius: 2rem 0px 0px 2rem;
}
.formulario .formularioImg .formularioRedes {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.formulario .formularioImg .formularioRedes div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #333;
  width: 60px;
  height: 60px;
  transition: all 0.4s;
}
.formulario .formularioImg .formularioRedes div:hover {
  box-shadow: 0px 0px 0.4rem #eee;
  transition: all 0.4s;
}
.formulario .formularioImg .formularioRedes div a {
  color: #eee;
  font-size: max(1.5rem, 3vw);
}

.contactoFormulario {
  background-color: #333;
  width: 80%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  text-align: center;
  border-radius: 0px 2rem 2rem 0px;
  font-family: Verdana;
}
.contactoFormulario textarea {
  resize: none;
  padding: 0.3rem;
  background-color: #eee;
  transition: all 0.3s;
  border-color: #D7A2AF;
}
.contactoFormulario textarea:focus {
  background-color: #aaa;
  color: #eee;
  transition: all 0.3s;
}

.formularioTitulo {
  color: #eee;
  font-size: max(1.5rem, 3vw);
}

.formularioContenido input {
  border-color: #D7A2AF;
  width: 100%;
  height: 2rem;
  padding: 0.3rem;
  background-color: #eee;
  transition: all 0.3s;
}
.formularioContenido input:focus {
  background-color: #aaa;
  color: #eee;
  transition: all 0.3s;
}

.formularioBotones input {
  margin: 0.3rem;
  padding: 0.3rem;
  background-color: #D7A2AF;
  color: #eee;
  border: none;
  border-radius: 0.4rem;
  transition: all 0.3s;
  font-family: Verdana;
  border-bottom: 0.25rem solid #eee;
}
.formularioBotones input:hover {
  transition: all 0.3s;
  background-color: #eee;
  color: #777;
  border-color: #D7A2AF;
}

/* /////////////////////////////////////////////////////////MEDIA QUERY///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////992px///////////////////////////////////////////////////////*/
@media screen and (max-width: 992px) {
  .contactoFormulario {
    margin-top: 3rem;
  }

  .contactoImg {
    display: none;
  }
}
/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/
@media screen and (max-width: 600px) {
  .contacto {
    padding: 0.5rem;
  }

  .contactoFormulario {
    padding: 0.5rem;
  }

  .formularioBotones input {
    width: 6rem;
    height: 2rem;
    border: 2px solid #777;
    font-size: 1rem;
  }
}
/* /////////////////////////////////////////////////////////FOOTERS///////////////////////////////////////////////////////*/
.pie {
  font-size: 1.4rem;
  text-align: center;
  font-family: Verdana;
  grid-column: 1/5;
  grid-row: 6/7;
  background-image: url(../img/footer.svg);
  background-repeat: none;
  background-position: initial;
  background-size: cover;
  color: #eee;
  text-align: center;
  width: 100vw;
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: end;
  padding-bottom: 2%;
  text-align: start;
}
.pie p {
  padding-left: 3%;
  font-size: max(1rem, 1.4vw);
}

.pieAlt {
  font-size: 1.4rem;
  text-align: center;
  font-family: Verdana;
  grid-column: 1/5;
  grid-row: 4/5;
  background-image: url(../img/footer.svg);
  background-repeat: none;
  background-position: initial;
  background-size: cover;
  color: #eee;
  width: 100vw;
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: end;
  padding-bottom: 2%;
  text-align: start;
}
.pieAlt p {
  padding-left: 3%;
  font-size: max(1rem, 1.4vw);
}

.pieRedes {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 7%;
}
.pieRedes div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
  margin: 0.6rem;
  transition: all 0.4s;
}
.pieRedes div:hover {
  transform: scale(1.1);
  background-color: #eee;
  transition: all 0.4s;
}
.pieRedes div:hover a {
  font-size: 2.1rem;
  color: #D7A2AF;
}
.pieRedes div a {
  color: #eee;
  font-size: 2rem;
}

/* 
.pieWhatsapp{
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 3rem;
    height: 3rem;
    img{
        width: 100%;
    }
} */
/* /////////////////////////////////////////////////////////MEDIA QUERY///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////1294px///////////////////////////////////////////////////////*/
@media screen and (max-width: 1264px) {
  /* /////////////////////////////////////////////////////////FOOTERS///////////////////////////////////////////////////////*/
  .pie {
    font-size: 1.2rem;
  }

  .pieAlt {
    font-size: 1.2rem;
  }
}
/* /////////////////////////////////////////////////////////992px///////////////////////////////////////////////////////*/
@media screen and (max-width: 992px) {
  .headerLogo {
    margin-left: 50%;
  }
}
/* /////////////////////////////////////////////////////////420px///////////////////////////////////////////////////////*/
@media screen and (max-width: 420px) {
  .pie {
    padding-bottom: 2rem;
  }

  .pieAlt {
    padding-bottom: 2rem;
  }

  .pieRedes div:hover a {
    font-size: 2.7rem;
  }
  .pieRedes div a {
    font-size: 2.5rem;
  }

  .pieWhatsapp {
    width: 2.4rem;
    height: 2.4rem;
  }
  .pieWhatsapp img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
