@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
/* /////////////////////////////////////////////////////////CONTENEDORES///////////////////////////////////////////////////////*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-image: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contenedor{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 1fr 1fr 1fr 160px;
}
.containerAlt{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 1fr 1fr 160px;
} 

/* /////////////////////////////////////////////////////////HEADERS///////////////////////////////////////////////////////*/
.navbar{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #333;
}
.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}
.nav-item{
    font-size: 1rem;
    font-size: 1.1rem;
}


.headerLogo {
    width: 4rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%
}

/* /////////////////////////////////////////////////////////HEADER///////////////////////////////////////////////////////*/


/* /////////////////////////////////////////////////////////INDEX///////////////////////////////////////////////////////*/


.hero{
    grid-column: 1/5;
    grid-row: 2/3;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.heroContenido{
    margin-top: 20%;
    width: 100%;
    height: 80%;
}

.heroTextos{
    width: 70%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.heroTitulo {
    color: #fff;
    width: 100%;
    height: 8rem;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 2rem;
    text-align: center;
}

.heroTexto {
    text-align: center;
    font-size: 2em;
    margin-top: 0.6rem;
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;

}

.heroBoton {
    margin-left: 4rem;
}

.heroBoton a{
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.6em;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.3rem solid #444;
    transition: all 0.3s;
}

.heroBoton a:hover {
    color: #fff;
    background-color: #000;
    background-color: #000;
    transition: all 0.3s;
}

.heroFlecha{
    text-align: center;
    width: 100%;
    color: #eee;
    padding-top: 4.5rem;
    animation-name: flechabajar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.heroFlecha i{
    font-size: 2rem;
    border-radius: 50%;
}

@keyframes flechabajar {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(0px);
    }
}

.servicios{
    grid-column: 1/5;
    grid-row: 3/4;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
    padding-top: 5rem;
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.serviciosCard{
    width: 15%;
    height: 23rem;
    text-align: center;
}

.serviciosCardImg{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}
.serviciosCardImg:hover{
    transform: scale(1.1); 
    transition: all 0.5s;
}

.img1{
    border: 0.8rem solid #fabfb757;
}
.img2{
    border: 0.8rem solid #57423f56;
}
.img3{
    border: 0.8rem solid #b9cef863;
}
.img4{
    border: 0.8rem solid #bfa6a277;
}
.img5{
    border: 0.8rem solid #8297c04f;
}

.serviciosCardSub{
    color: #666;
    padding: 0.6rem;
    font-size: 1.8rem;
}

.consejos{
    grid-column: 1/5;
    grid-row: 4/5;
    width: 100vw;
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    margin: 0px;
    padding: 1rem;
}


.carousel{
    padding: 0%;
}

.uñas{
    border-radius: 0.4rem;
}
.consejosContenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.consejosContenido h2{
    background-color: #333;
    color: #fff;
    font-size: 1.6em;
    height: 4rem;
    line-height: 2.5em;
    border-radius: 1rem;
}

.consejosImg{
    margin-left: 20%;
    width: 55%;
}
.suelo{
    background-color: #333;
    width: 100%;
    height: 60px;
}
/* /////////////////////////////////////////////////////////INDEX///////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////////SERVICIOS///////////////////////////////////////////////////////*/
.serviciosHero{
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100vw;
    height: 70vh;
    background-image: url(../img/background3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
}
.serviciosHeroTextos{
    margin: 10%;
    width: 40%;
}

.serviciosHeroTextos h1{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    font-size: 3.3rem;
    color: #000;
    text-align: center;
}

.serviciosHeroTextos p{
    font-size: 1.5rem;
    text-align: right;
    color: #fff;
    width: 100%;
}

.serviciosPag{
    grid-column: 1/5;
    grid-row: 3/4;
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 350px;
    margin: 2rem;
    perspective: 1000px;
    border-radius: 1rem;
}


.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 1rem;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}
.cardImg{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.flip-card-front {
    background-color: #bbb;
    color: #000;
}


.flip-card-back {
    background-color: #333;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* /////////////////////////////////////////////////////////SERVICIOS///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////GALERIA///////////////////////////////////////////////////////*/
.galeriaHero{
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100vw;
    height: 70vh;
    background-color: #555;
}
.galeriaHeroTextos{
    margin: 10%;
    width: 40%;
}

.galeria {  
    grid-column: 1/5;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    grid-template-areas:
    "gal1 gal2 ilustracion ilustracion"
    "gal3 gal4 ilustracion ilustracion"
    "gal5 gal6 gal7 gal8"
    "gal9 gal10 gal11 gal12";
    margin: 0.5rem;
}

.imagenes{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.gal1 { 
    grid-area: gal1; 
}

.gal2 { 
    grid-area: gal2; 
}

.ilustracion { 
    grid-area: ilustracion; 
    transform: rotateY(180deg);
    border-radius: 0.5rem;
    padding: 2rem;
}

.gal3 { 
    grid-area: gal3; 
}

.gal4 {
    grid-area: gal4; 
}

.gal5 {
    grid-area: gal5; 
}

.gal6 { 
    grid-area: gal6; 
}

.gal7 { 
    grid-area: gal7; 
}

.gal8 { 
    grid-area: gal8; 
}

.gal9 { 
    grid-area: gal9; 
}

.gal10 { 
    grid-area: gal10; 
}

.gal11 { 
    grid-area: gal11; 
}

.gal12 { 
    grid-area: gal12; 
}


/* /////////////////////////////////////////////////////////GALERIA///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////NOSOTROS///////////////////////////////////////////////////////*/
.nosotrosHero{
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100vw;
    height: 70vh;
    background-color: #fff;
}
.nosotrosHeroTextos{
    margin: 10%;
    width: 40%;
}

.nosotros{
    grid-column: 1/5;
    grid-row: 3/4;
    width: 100vw;
    height: auto;
}
/* /////////////////////////////////////////////////////////NOSOTROS///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////CONTACTO///////////////////////////////////////////////////////*/

.contactoHero{
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100vw;
    height: 70vh;
    background-image: url(../img/background4.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
}

.contactoHeroTextos{
    margin: 10%;
    width: 40%;
}

.contactoHeroTextos h1{
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 3.4rem;
    color: #000;
    text-align: center;
}

.contactoHeroTextos p{
    font-size: 1.5rem;
    text-align: right;
    color: #fff;
    width: 100%;
}

.contacto{
    grid-column: 1/5;
    grid-row: 3/4;
    width: 100vw;
    height: auto;
    padding: 2rem;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    margin: 0%;
}
.contactoContenido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.contactoTitulo{
    background-color: #333;
    color: #fff;
    font-size: 1.6em;
    height: 4rem;
    line-height: 2.5em;
    border-radius: 1rem;
}
.contactoImg{
    width: 60%;
    margin: 0% auto;
}
.contactoFormulario{
    width: 100%;
    padding: 2rem;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}

.formularioTitulo{
    background-color: #333;
    color: #fff;
    height: 3.5rem;
    line-height: 1.7em;
}

.formularioContenido input{
    width: 100%;
    height: 2rem;
    padding: 0.3rem;
    background-color: #D7A2AF;
    transition: all 0.3s;
}

.formularioContenido input:focus{
    background-color: #333;
    color: #fff;
    transition: all 0.3s;
}
.contactoFormulario textarea{
    resize: none;
    padding: 0.3rem;
    background-color: #D7A2AF;
    transition: all 0.3s;
}


.contactoFormulario textarea:focus{
    background-color: #333;
    color: #fff;
    transition: all 0.3s;
}

.formularioBotones input{
    width: 6rem;
    height: 2.6rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    border: 0.2rem solid #333;
    font-size: 1rem;
    transition: all 0.3s;
}

.formularioBotones input:hover{
    color: #fff;
    background-color: #000;
    border: 3px solid #000 ;
    transition: all 0.3s;
}

/* /////////////////////////////////////////////////////////CONTACTO///////////////////////////////////////////////////////*/


/* /////////////////////////////////////////////////////////FOOTERS///////////////////////////////////////////////////////*/

.pie{
    grid-column: 1/5;
    grid-row: 5/6;
    background-color: #333;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    padding-top: 20px;
}

.pieAlt{
    grid-column: 1/5;
    grid-row: 4/5;
    background-color: #333;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    padding-top: 20px;
}

.pieRedes{
    width: 100%;
}

.pieRedes a{
    color: #fff;
    font-size: 2.4em;
    transition: all 0.2s;
}
.pieRedes a:hover{
    color: #D7A2AF;
    transition: all 0.2s;
}

.pieWhatsapp{
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 3rem;
    height: 3rem;
}
.pieWhatsapp img{
    width: 100%;
}


/* /////////////////////////////////////////////////////////MEDIA QUERY///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////1294px///////////////////////////////////////////////////////*/

@media screen and (max-width:1264px) {

/* /////////////////////////////////////////////////////////INDEX///////////////////////////////////////////////////////*/

    .heroFlecha{
        padding-top: 1.3rem;
    }

    .serviciosCard{
        width: 28%;
    }
    .serviciosCardImg{
        width: 80%;
    }
/* /////////////////////////////////////////////////////////SERVICIOS///////////////////////////////////////////////////////*/

.serviciosHeroTextos h1{
    font-size: 40px;
}

.serviciosHeroTextos p{
    font-size: 1rem;
}


/* /////////////////////////////////////////////////////////CONTACTO///////////////////////////////////////////////////////*/

.contactoHeroTextos h1{
    font-size: 2.5rem;
}

.contactoHeroTextos p{
    font-size: 1rem;
}


/* /////////////////////////////////////////////////////////FOOTERS///////////////////////////////////////////////////////*/

.pie{
    font-size: 1rem;
}

.pieAlt{
    font-size: 1rem;
}

}

/* /////////////////////////////////////////////////////////960px///////////////////////////////////////////////////////*/

@media screen and (max-width:960px){

/* /////////////////////////////////////////////////////////INDEX///////////////////////////////////////////////////////*/
    .heroTextos{
        width: 80%;
    }
    .serviciosCard{
        width: 44%;
        text-align: center;
    }

    .serviciosCardImg{
        width: 60%;
    }
}
/* /////////////////////////////////////////////////////////SERVICIOS///////////////////////////////////////////////////////*/
.serviciosHeroTextos{
    width: 50%;
}

/* /////////////////////////////////////////////////////////992px///////////////////////////////////////////////////////*/

@media screen and (max-width:992px) {
    .nav-item{
            background-color: #222;
    }

    .contactoFormulario{
        margin-top: 3rem;
    }
}
/* /////////////////////////////////////////////////////////800px///////////////////////////////////////////////////////*/
@media screen and (max-width:800px){

    .heroTitulo{
        height: 6rem;
        font-size: 2em;
    }
    
    .heroTexto{
        font-size: 1.4em;
    }
    
    .heroBoton{
        margin-left: 3rem;
    }
    
    .heroBoton a{
        padding: 0.5rem;
        font-size: 1em;
    }
    .heroFlecha{
        padding-top: 6.4rem;
    }
    .serviciosCard{
        width: 60%;
        height: 25rem;
    }
    
    .serviciosCardImg{
        width: 70%;
    }
}

/* /////////////////////////////////////////////////////////600px///////////////////////////////////////////////////////*/

@media screen and (max-width:600px){


    /* /////////////////////////////////////////////////////////INDEX///////////////////////////////////////////////////////*/
    .heroFlecha{
        display: none;
    }

    .hero{
        height: 50vh;
    }
    .heroTitulo{
        padding-top: 1rem;
        width: 100%;
        height: 4rem;
        font-size: 1.3em;
    }
    .heroTextos{
        padding: 0.6rem;
    }
    
    .heroTexto{
        width: 80%;
        font-size: 1em;
    }
    .heroBoton{
        margin-left: 1rem;
        font-size: 0.9rem;
    }
    .consejosTextos h2{
        font-size: 1.4rem;
    }

    /* /////////////////////////////////////////////////////////SERVICIOS///////////////////////////////////////////////////////*/
    
    .serviciosHeroTextos{
        width: 70%;
    }
    
    /* /////////////////////////////////////////////////////////CONTACTO///////////////////////////////////////////////////////*/
    .contactoHero{
        height: 50vh;
    }
    .contactoHeroTextos{
        width: 70%;
    }
    
    .contactoFormulario{
        padding: 0.3rem;
    }
    
    .formularioBotones input{
        width: 6rem;
        height: 2rem;
        border: 2px solid #333;
        font-size: 1rem;
    }
    
}



/* /////////////////////////////////////////////////////////420px///////////////////////////////////////////////////////*/
@media screen and (max-width:420px) {
    .consejosTextos h2{
        font-size: 1.1rem;
        line-height: 4rem;
    }
    /* /////////////////////////////////////////////////////////Servicios///////////////////////////////////////////////////////*/
    .serviciosHero{
        height: 50vh;
    }
    .serviciosCard{
        width: 80%;
        height: 18rem;
    }
    .flip-card{
        width: 250px;
        height: 250px;
    }

        /* /////////////////////////////////////////////////////////Contacto///////////////////////////////////////////////////////*/

    .contactoTitulo{
        line-height: 4rem;
        font-size: 1.3rem;
    }
    .formularioTitulo{ 
        line-height: 3rem;
        font-size: 1.1rem;
    }

    .formularioContenido input{
        width: 90%;
    }
    #comentarios{
        width: 90%;
        margin: 0% auto;
    }
}  