@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

/* /////////////////////////////////////////////////////////VARIABLES///////////////////////////////////////////////////////*/

/* Colores */
$rosa:#D7A2AF;
$rosa2:#e7c5cd;
$blanco:#eee;
$gris:#333;
$gris2:#777;
$negro:#111;
/* Medidas */
$titleSize:max(min(2.3rem), 5vw);
$subSize: max(min(1.8rem,3rem), 3vw);
$sub2Size:max(min(1.5rem,3rem), 3vw);
$pSize:max(min(1.2rem), 2vw);
$p2Size:max(min(1rem), 1.4vw);
/* fuentes */
$font:Verdana;
/* mixin */
@mixin textos($sizes,$align,$family){
    font-size: $sizes;
    text-align: $align;
    font-family: $family;
}
/* /////////////////////////////////////////////////////////CONTENEDORES///////////////////////////////////////////////////////*/
html, body {
    max-width: 100%;
    background-image: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
    overflow-x: hidden;
} 
.contenedor{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
}
.containerAlt{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
} 

/* /////////////////////////////////////////////////////////HEADERS///////////////////////////////////////////////////////*/
.navbar{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: $rosa;
    border-bottom:1px solid $blanco;
}


.nav-link{
    transition: all 0.3s;
    &:hover{
        background-color: $rosa2;
        border-radius: 0.6rem;
        transition: all 0.3s;
    }
}

.headerLogo{
    width: 4rem;
    min-width: 50px;
    height: 4rem;
    background-color: $blanco;
    border-radius: 50%;
    box-shadow:0px 0px 2rems rgba($color: $gris, $alpha: 0.1)
}

/* /////////////////////////////////////////////////////////HEADER///////////////////////////////////////////////////////*/


/* /////////////////////////////////////////////////////////INDEX///////////////////////////////////////////////////////*/

@import "__index.scss";


/* /////////////////////////////////////////////////////////SERVICIOS///////////////////////////////////////////////////////*/
@import "__servicios.scss";

/* /////////////////////////////////////////////////////////GALERIA///////////////////////////////////////////////////////*/
@import "__galeria.scss";

/* /////////////////////////////////////////////////////////NOSOTROS///////////////////////////////////////////////////////*/
@import "__nosotros.scss";

/* /////////////////////////////////////////////////////////CONTACTO///////////////////////////////////////////////////////*/
@import "__contacto.scss";

/* /////////////////////////////////////////////////////////FOOTERS///////////////////////////////////////////////////////*/

.pie{
    @include textos(1.4rem,center,$font);
    grid-column: 1/5;
    grid-row: 5/6;
    background-image: url(../img/footer.svg);
    background-repeat: none;
    background-position: initial;
    background-size: cover;
    color: $blanco;
    text-align: center;
    width: 100vw;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: end;
    padding-bottom: 2%;
    text-align: start;
    p{
        padding-left: 5%;
        font-size: $p2Size;
    }
}

.pieAlt{
    @include textos(1.4rem,center,$font);
    grid-column: 1/5;
    grid-row: 4/5;
    background-image: url(../img/footer.svg);
    background-repeat: none;
    background-position: initial;
    background-size: cover;
    color: $blanco;
    width: 100vw;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: end;
    padding-bottom: 2%;
    text-align: start;
    p{
        padding-left: 3%;
        font-size: $p2Size;
    }
}

.pieRedes{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 7%;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 0.5rem;
        margin: 0.6rem;
        transition: all 0.4s;
        &:hover{
            transform: scale(1.1);
            background-color: $blanco;
            transition: all 0.4s;
            a{
                font-size: 1.6em;
                color: $rosa;
            }
        }
        a{
            color: $blanco;
            font-size: 1.5em;
        }
    }
    
}


.pieWhatsapp{
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 3rem;
    height: 3rem;
    img{
        width: 100%;
    }
}

/* /////////////////////////////////////////////////////////MEDIA QUERY///////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////1294px///////////////////////////////////////////////////////*/

@media screen and (max-width:1264px) {

/* /////////////////////////////////////////////////////////FOOTERS///////////////////////////////////////////////////////*/

.pie{
    font-size: 1.2rem;

}

.pieAlt{
    font-size: 1.2rem;
}

}
/* /////////////////////////////////////////////////////////992px///////////////////////////////////////////////////////*/

@media screen and (max-width:992px){
    
.headerLogo{
    margin-left: 50%;
}
}

/* /////////////////////////////////////////////////////////420px///////////////////////////////////////////////////////*/
@media screen and (max-width:420px) {
    .pie{
        padding-bottom: 2rem;
    }
    .pieAlt{
        padding-bottom: 2rem;
    }
}